:root {
    --clr-primary: rgb(52, 45, 51);
    --clr-secondary: #fff;

    --clr-link-primary: rgb(52, 190, 40);
    --clr-link-secondary: #fff;

    --clr-background-primary: #FFF ;
    --clr-background-secondary: #ACD1AF;
}

/* 
*  TABLE OF CONTENTS
*  
*  1.0 - Reset
*  2.0 - Globals
*  3.0 - Typography
*  4.0 - Layouts
*    4.1 - '' Main '' - Section
*    4.2 - Navigation
*  5.0 - Components
*    5.1 - Buttons
*    5.2 - Forms
*  6.0 - Utillity
*
*/



/*  ================================
        1.0 Reset
    ================================ */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}



/*  ================================
        2.0 Globals
    ================================ */

::selection {
    color: var(--clr-secondary);
    background-color: var(--clr-primary);
}

html,
body,
body::before {
    height: 100vh; /* Fallback */
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    font-size: 15px;
}

body {
    color: var(--clr-primary);
    background-color: var(--clr-background-primary);
    font-family: "inter var", sans-serif;
    font-weight: 400;
    letter-spacing: .03em;
    line-height: 1.5;
    text-rendering: optimizeLegibility;

}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: .1;
    background: url("../images/fleck-black.png");
}

a {
    color: var(--clr-link-primary);
    border-bottom: 1px solid;
    text-decoration: none;
}

a:hover {
    transition: all 0.3s ease-out;
}

p {
    line-height: 1.7em;
}



/*  ================================
        3.0 Typography
    ================================ */


/*  ================================
        4.0 Layouts
    ================================ */

div.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 75px;
}

    /**
     *      4.1 '' Main '' - Section
     */
section#main {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about {
    max-width: 585px;
    height: 260px;
}

.about p {
    padding: 0 5em 1em 0;
}

p a {
    padding-bottom: .2em;
}



    /**
     *      4.2 Navigation
     */

nav {
}

nav ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    text-align: right;
}

.nav-item a {
    color: var(--clr-primary);
    border: 0;
    font-family: 'Nunito';
    font-size: clamp(.7rem, 3vw, 1rem);
    padding: .7em 1.4em;
}

.nav-item a:hover,
.nav-item a::selection { /* might be bad UX but helps the UI for sure */
    border-right: 2px solid var(--clr-link-primary);
    font-weight: bolder;
}

.links {
    position: relative;
    left: 0;
}

.links a {
    border-bottom: 0;
    color: #342D33;
    font-size: 1.728em;
    margin-right: 1.2em;
    padding-bottom: 0;
    top: 0;
}

.links a:hover {
    position: absolute;
    top: -10px;
    transition: all .3s ease-out;
}

.links a i {
    transition: all .2s;
}

.links a:hover i {
    transform: translateY(-5px);
}



/*  ================================
        5.0 Components
    ================================ */



/*  ================================
        6.0 Utillity
    ================================ */


    
.masonry-item {
    padding: 2px; 
}

.masonry-item img {
    width: 100%;
}

.masonry-wrapper {
    padding: 1.5em;
    margin: 0 auto;
}

/*
@media screen and (max-width: 700px) {
    .content {
        top: 50%;
    }
}
*/
